  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create a New Document</h4>
      </div>
      <div class="modal-body">
        <center>Fill in a little information below to get a feel for it, but only the name and narrative are saved. </br>If things look a little different, don't worry, it's just formatted for your screen. </h4><p class="dialogp">*A patient name, narrative, and email are required</p></center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<%= render 'form' %>

<%= link_to 'Back', root_path %>
